<template name="botInstallSuccess">
    <header id="top" class="header header-red">
        <div class="text-vertical-center">
            <h1>Congratulations</h1>
            <h3>Bot user @apibunny has been added to your Slack team</h3>
            <h3 style="display: inline;background: white;">Engage with him, say 'Hi'</h3>
            <br>
            <a href="/" class="btn btn-dark btn-lg" style="margin:30px;">Go Home</a>
        </div>
    </header>
</template>

<template name="botInstallFailed">
  <header id="top" class="header header-invert">
      <div class="text-vertical-center">
          <h1>Oh, Oh <i class="fa fa-frown-o"></i></h1>
          <h3>Bot installation did not work, try again</h3>
          <br>
          <a href="/" class="btn btn-dark btn-lg">Go Home</a>
      </div>
  </header>
</template>
